HELM_CLIENT_ID=op://VAULT_NAME/helm-api-server/helm_client_id
HELM_CLIENT_SECRET=op://VAULT_NAME/helm-api-server/helm_client_secret
VIPER_API_KEY=op://VAULT_NAME/helm-api-server/viper_api_key
GOOGLE_CLIENT_ID=op://VAULT_NAME/helm-api-server/google_client_id
GOOGLE_CLIENT_SECRET=op://VAULT_NAME/helm-api-server/google_client_secret
SESSION_SECRET_KEY=op://VAULT_NAME/helm-api-server/session_secret_key
